* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.line {
  width: 200px;
  height: 2px;
  border-radius: 50px;
  background: linear-gradient(
    90deg,
    #7a1f2b
  );
}
body{
  font-family:'Inter', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Poppins', sans-serif;
}